@charset "utf-8";
/* CSS Document */
body{
	width: 85%;
	font-family:Tahoma, geneva, sans serif ;
	margin-top: 0px;
	margin-right: auto
	margin-bottom:0px;
	margin-left: auto
	font size:62.5%;
	}
p{font-size: 1.2em:
	
		
}