@charset "utf-8";
header {
	background-color: #DE1527;
}
nav {
	background-color: #DD1024;
}
section {
	background-color: #E4205C;


}
section {
	background-color: #F7D5DD;
}
aside {
	background-color: #FCD338;
}
footer {
	background-color: #F28E30;

}
