
#skipto{
    display: flex;
    flex-basis: 100%;
    max-width: 16px;
    float:right;
}
#banner {
    margin: 5px;
    background-color:#D5382C;
    color: #FFFFFF

}

#main {
    flex-direction: row;
    
}