@charset "utf-8";
/* CSS Document */



body {
	font-size: 62.5%;
	width: 1800px;
}
header {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size: 2em;
	background-color: #e0e0e0;
}
header h1 {
	padding-top: 2em;
	padding-bottom: 2em;
	padding-left: 20px;
	color: white;
}
