#home
{
	width: 350px;
	height:350px;
background-image: i 
	background-size: auto 350px;
	background-repeat: no-repeat;
	background-color: lightblue;
	background-position: center center;
	padding: 0;
	margin: 03;
}
button
{background-color: green;
	color: white;
	border: none;
	bottom: 0;
	height: 30 px;
	font-size: 12pt;
	float: left;
width: 90px;
	margin: 10px;
	}
button :hover {
	background-color: orange;
}
button:disabled {background-color:  grey}
p{font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight: bold;
	width: 250px;
	margin: 18px 0 5px 8px;
	float: left;
	p{
		font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
		font-weight: bold;
		width: 25opx;
		margin: 18px 0px 5px 8px;
		float: left;
	}
}
.game{
	margin:0 auto;
}
   
